* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container {
    width: 14rem;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 10px 8px 10px #88888812;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

img {
    width: 100%;
    border-radius: 14px;
}


.tittle-text {
    text-align: center;
    margin: 0px 13px;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
}

.tittle-para {
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 0px 13px 13px 13px;
    font-size: 11px;
}